*
{
    margin: 0;
    padding: 0;
    list-style: none;
}

body
{
    display: flex;
}

.box
{
    /* display: flex; */
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
}

.box:nth-child(1)
{
    background-color: black;
}

.box:nth-child(2)
{
    background-color: chartreuse;
}

.box:nth-child(3)
{
    background-color: coral;
}