/* 各瀏覽器預設格式不同所以reset 正式專案不會用 練習時用而已 */
*
{
    margin: 0;
    padding: 0;
}

.col
{
    width: 186px;
    font-size: 18px;
    background-color: yellow;
    /* 邊界 */
    border: 2px solid blue;
    /* 內距 */
    padding: 10px;
    /* 物間之間的距離 */
    margin: 15px;
}

.wrap
{
    width: 1200px;
    background-color: crimson;
    display: flex;
    flex-wrap: wrap;
}