/* *
{
    margin: 0;
    padding: 0;
    list-style: none;
} */

ul
{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

li
{
    width: 100px;
    height: 100px;
    margin: 4px;
    background-color: darkorange;
    font-size: 50px;
}

li:nth-child(18)
{
    background-color: darkviolet;
    /* relative 相對定位 */
    position: relative;
    left: 100px;
    top: 100px;
}

/* p*30>lorem100 */

.box
{
    width: 100px;
    height: 100px;
    background-color: deeppink;
    font-size: 50px;

    /* 定位在視窗 */
    /* position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto; */
}

.box + p
{
    color: deepskyblue;
}

.box2
{
    width: 100px;
    height: 100px;
    background-color: rgb(30, 10, 206);
    font-size: 50px;
    /* 絕對定位 如果父層沒設定定位只會定位在第一個畫面位置 */
    position: absolute;
    left: 0;
    bottom: 0;
}

/* .b
{
    position: relative;
} */
html
{
    position: relative;
}

.a,.b
{
    border: 4px solid red;
    padding: 30px;
}

.a + p
{
    color: rgb(255, 0, 191);
}
