/* 各瀏覽器預設格式不同所以reset 正式專案不會用 練習時用而已 */
*
{
    margin: 0;
    padding: 0;
}

.content-head
{
    width: 100%;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background:rgba(65, 64, 64, 0.3);
    /* background-color:black; */
    
}

.content-title
{
    width: 700px;
    color: white;
    text-align: left;
    /* font-size: 300px; */
    /* background-color: yellow; */
    
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* text-align:; */
    /* align-content:space-between; */
    margin: 50px;
}
.content-title h1
{
    font-size: 100px;
}
.content-title h2
{
    font-size: 20px;
    font-family: Microsoft JhengHei;
}

.content-div-logo
{
    display: block;
    /* width: 100%; */
    /* background-color: chartreuse; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
}

.content-div-logo img
{
    /* background-color: crimson; */
}

.content-div-ul
{
    /* background-color: darkcyan; */
    /* display: block; */

}
.content-div-ul li
{
    display: inline-block;
    margin: 10px;
    color: white;
    font-size: 15px;
    font-family: Microsoft JhengHei;
}

.site-content
{
    /* background-color: darkblue; */
    background-image: url(../3月18切版商業計畫/picture/head.gif);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
    align-items:center;
}

.content-three-title
{
    width: 100%;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.content-three-title p
{
    width: 300px;
    color: white;
    font-size: 20px;
    text-align: left;
    padding-left: 80px;
}

.content-three-title-one h3
{
    display: list-item;
    list-style-image: url(../3月18切版商業計畫/picture/android_logo_opt.png);
    color: white;
    margin: 20px;
    
}

.content-three-title-two h3
{
    display: list-item;
    list-style-image: url(../3月18切版商業計畫/picture/apple_logo_opt.png);
    color: white;
    margin: 20px;
}

.content-three-title-three h3
{
    display: list-item;
    list-style-image: url(../3月18切版商業計畫/picture/pokemon_logo_opt.png);
    color: white;
    margin: 20px;
}

.second-content
{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    /* text-align: center; */
    align-items:center;
}

.second-content h2
{
    width: 350px;
    font-size: 50px;
    color: rgb(56, 53, 53);
    /* background-color: rgb(255, 0, 0); */
    padding-right: 100px;
}

.second-content p
{
    width: 600px;
    font-size: 30px;
    /* background-color: teal; */
}

.second-content div:nth-child(2)
{
    /* background-color: tomato; */
}

.second-content span
{
    /* display: inline; */
    font-size: 50px;
}

.second {
    width: 100%;
    margin: 80px 0;
    display: flex;
    /* background-color: #ffa; */
}

.second .wrap {
    width: 1200px;
    margin: auto;
    display: flex;
}

/*寬度佔320 */
.second .title {
    width: 220px;
    padding: 0px 70px 0px 30px;
    font-size: 20px;
    font-family: Prata, sans-serif;
    line-height: 1.7;
    color: #42474c;
    /* border: 1px solid #000; */

}

/*寬度佔800 */
.second .text {
    width: 768px;
    margin: auto;
    padding-left: 50px;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    color: #42474c;
    line-height: 1.5;
    column-count: 2;
    column-gap: 60px;
    border-left: 2px solid rgb(141, 141, 141);
}

.second .text::first-letter {
    font-family: Prata, sans-serif;
    font-size: 40px;
    color: rgb(170, 144, 121);
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.third
{
    width: 100%;
    height: 150px;
    /* margin: 20px 0; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #C2B697;
}

.third h2
{
    color: white;
    font-size: 35px;
    font-family: Microsoft JhengHei;
}

.third p
{
    color: white;
    font-family: Microsoft JhengHei;
}

.third a
{
    color: black;
    font-size: 10px;
    background-color: white;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    font-family: Microsoft JhengHei;
    font-weight: bolder;
}

.third a:hover{
    background-color: transparent;
    color: white;
}

.fourth
{
    width: 100%;
    /* height: 800px; */
    display: flex;
    flex-direction: column;
}

.fourth .title
{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fourth .title h2
{
    font-size: 40px;
}

.fourth .title p
{
    width: 70%;
    padding-top: 20px;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    color: black;
    line-height: 1.5;
    text-align: center;
}

.fourth .title span
{
    color: #C2B697;
}

.fourth .phone-wrap
{
    width: 100%;
    height: 600px;
    /* color: chartreuse; */
    /* background-color: darkcyan; */
    display: flex;
}

.fourth .phone-wrap .port-one
{
    width: 38%;
    height: 600px;
    /* background-color: darkblue; */
}

.fourth .phone-wrap .port-one .text-picture
{
    width: 100%;
    height: 200px;
    /* background-color: deeppink; */
    color: #42474C;
    display: flex;
    flex-flow: row wrap;
    text-align: right;
    justify-content: center;
    align-items: center;
}

.fourth .phone-wrap .port-one .text-picture p
{
    width: 300px;
    font-family: Montserrat, sans-serif;
    color: #42474C;
}

.fourth .phone-wrap .port-one .text-picture h3
{
    color: #C2B697;
}

.fourth .phone-wrap .port-two
{
    width: 24%;
    height: 600px;
    background-image: url(../3月18切版商業計畫/picture/asset\ 1.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    /* background-color: darkgoldenrod; */
}

.fourth .phone-wrap .port-three
{
    width: 38%;
    height: 600px;
    /* background-color: darkred; */
}

.fourth .phone-wrap .port-three .text-picture
{
    width: 100%;
    height: 200px;
    /* background-color: deeppink; */
    color: #42474C;
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.fourth .phone-wrap .port-three .text-picture p
{
    width: 300px;
    font-family: Montserrat, sans-serif;
    color: #42474C;
}

.fourth .phone-wrap .port-three .text-picture h3
{
    color: #C2B697;
}

.fourth .phone-wrap .port-three .text-picture .picture
{
    order: -1;
}