/* 各瀏覽器預設格式不同所以reset 正式專案不會用 練習時用而已 */
*
{
    margin: 0;
    padding: 0;
}

.boxpic
{
    width: 570px;

    /* font-size: 30px; */
    /* background-color: blue; */
    /* background-image:url(https://shoplineimg.com/5b4461529a76f081a2000629/5fbc6abf7b95df00172a7cfb/800x.webp?source_format=jpg) */
    /* 邊界 */
    /* border: 2px solid blue; */
    /* 內距 */
    /* padding: 10px; */
    /* 物間之間的距離 */
    margin: 15px;
}

.wrap
{
    width: 1200px;
    /* background-color: crimson; */
    /* 讓物件橫排 */
    display: flex;
    /* 讓物件換行 */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left; 
}

.wrap1
{
    /* width: 1200px; */
    /* background-color: crimson; */
    /* 讓物件橫排 */
    display: flex;
    /* 讓物件換行 */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center; 
}

.wrap2
{
    /* width: 1200px; */
    /* background-color: crimson; */
    /* 讓物件橫排 */
    display: flex;
    /* 讓物件換行 */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center; 
}

.wrap3
{
    /* width: 1200px; */
    /* background-color: crimson; */
    /* 讓物件橫排 */
    display: flex;
    /* 讓物件換行 */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center; 
}

.wrap1 img
{
    width: 1170px;
    background-color: blue;
    margin: 15px;
}

.wrap2 img
{
    width: 570px;
    background-color: blue;
    margin: 15px;
}

.wrap3 img
{
    width: 370px;
    background-color: blue;
    margin: 15px;
}

.wrap1 div
{
    width: 1170px;
    margin: 15px;
}
.wrap2 div
{
    width: 570px;
    margin: 15px;
}
.wrap3 div
{
    width: 370px;
    margin: 15px;
}


img
{
    width: 570px;
    background-color: blue;
    /* height: 800px; */
    margin: 15px;
}

.text1
{
    font-size: 15px;
    color:black;
}

.price-original-lefe-line-through
{
    font-size: 15px;
    color:black;
    text-decoration:line-through;
}

.price-original-lefe
{
    font-size: 15px;
    color:black;
}

.price-sale
{
    font-size: 15px;
    color:black;
}